.home {
  height: 50vh;
  @include flexbox(column);
  justify-content: center;
  background-color: #35363a;
  color: whitesmoke;
  padding: 4rem 0;
  position: relative;
  transition: 1s;
  // animation: homeAnimation 0.5s linear;

  & > img {
    position: absolute;
    max-height: 90%;
    z-index: 1;
    opacity: 0.05;
    // animation: fadeIn 0.5s ease-in-out;
  }

  & > div {
    margin-top: 3rem;
    position: relative;
    z-index: 2;
    animation: fadeIn 0.5s ease-in-out;
  }

  @media (max-width: 700px) {
    height: 55vh;
  }

  h3 {
    font-size: 2.5rem;
    text-align: center;
    padding: 0 2rem;
    margin-bottom: 3rem;
    width: 70%;
    font-weight: 400;
    position: relative;
    z-index: 2;
    animation: fadeIn 0.5s ease-in-out;

    @media (max-width: 700px) {
      width: 100%;
      font-size: 1.8rem;
    }
  }

  h4 {
    font-size: 2rem;
    text-align: center;
    padding: 0 2rem;
    font-weight: 300;
    width: 70%;
    position: relative;
    z-index: 2;
    animation: fadeIn 0.5s ease-in-out;

    @media (max-width: 700px) {
      width: 100%;
      font-size: 1.5rem;
    }
  }

  a {
    display: inline-block;
    font-size: 1.8rem;
    color: #00ffec;
    text-decoration: underline;
    font-weight: 200;

    @media (max-width: 700px) {
      font-size: 1.5rem;
    }
  }
}
