.navbar {
  height: 7rem;
  width: 100%;
  background: linear-gradient(
    120deg,
    rgba(153, 205, 50, 0.7),
    rgba(0, 128, 0, 0.7)
  );
  @include flexbox;
  justify-content: flex-end;

  @media (max-width: 700px) {
    height: 4rem;
  }

  &__lists {
    @include flexbox;
    padding: 0 2rem;

    @media (max-width: 700px) {
      padding: 0 1rem;
    }

    li {
      a {
        display: inline-block;
        font-size: 2.8rem;
        color: var(--white);
        font-weight: 600;
        text-transform: capitalize;
        height: 7rem;
        @include flexbox;
        padding: 0 2rem;
        transition: 0.25s;
        border-bottom: 2px solid transparent;

        @media (max-width: 700px) {
          font-size: 1.6rem;
          padding: 0 1rem;
          height: 4rem;
        }

        &:hover {
          color: white;
        }
      }
    }
  }
}

.navbar .navbar__lists li.active-nav a {
  border-bottom: 2px solid white;
}
