.student-card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.student-card {
  flex-basis: 45%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.315);
  margin: 1rem 0;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: stretch;
  position: relative;
  overflow: hidden;

  @media (max-width: 1050px) {
    flex-basis: 90%;
  }

  .image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    opacity: 0.1;
    right: 10px;

    @media (max-width: 600px) {
      height: 90px;
      width: 90px;
    }

    img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border: 2px solid crimson;
    }
  }

  .short-info {
    padding-left: 2rem;
  }

  .more-info-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;

    button {
      appearance: none;
      border: none;
      outline: none;
      background-color: transparent;
      text-decoration: underline;
      color: crimson;
      cursor: pointer;
    }
  }

  h1 {
    text-transform: capitalize;
    @media (max-width: 600px) {
      font-size: 1.6rem;
    }
  }

  h2 {
    color: grey;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  @media (max-width: 700px) {
    justify-content: space-evenly;
    padding: 2rem 0;
  }

  h5 {
    font-size: 1.6rem;
    font-weight: 400;
  }

  button {
    appearance: none;
    outline: none;
    border: none;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.315);
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.6rem;
    cursor: pointer;
    transition: transform 0.3s;
    margin: 1rem;

    @media (max-width: 700px) {
      font-size: 1.4rem;
      margin: 0;
    }

    &:hover {
      background-color: crimson;
      color: white;
      border: 1px solid crimson;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.search {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;

  input {
    appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.356);
    padding: 1rem;
    border-radius: 3px;
    width: 40%;

    @media (max-width: 700px) {
      width: 80%;
    }

    &::placeholder {
      font-family: inherit;
      font-size: 1.5rem;
    }
  }
}

button.button-bg {
  background-color: crimson;
  border: 1px solid crimson;
  color: white;
}
